<li>
  <p>
  <%= current_user.id==message.user.id ? '我' : message.user.name %>
  @
  <%= message.created_at.to_formatted_s(:db) %>
  :
  <%= message.body %>
  </p>
</li>

<script>
    var $cont = $('.nano-content');
    $cont[0].scrollTop = $cont[0].scrollHeight;
</script>
