<h1>用户搜索</h1>

<%= form_tag :action => 'search' do %>
  <p>
  <strong>用户名</strong>
  <input value="user" type="text" name="name" id="name"/>
  <br/>
  <button name="button" type="submit"><strong>搜索</strong></button>
  </p>
<% end -%>
