<div align="center" class="container-fluid">
  <div class="card" align="left" style="width:400px">
    <div class="card-body">
      <h4 class="card-title"><%= @user.name %></h4>
      <strong>邮箱: </strong><%= @user.email %><br/>
      <strong>性别: </strong><%= @user.sex %><br/>
      <strong>手机号码: </strong><%= @user.phonenumber %><br/>
    </div>
  </div>
</div>
