<script type="text/javascript">
  addMsg = function(user, msg) {
    var is_me = user == "我";
    var p_style = is_me ? "color:black;" : "color:green;";
    var li_style = is_me ? "text-align: right;" : "text-align: left;"

    var ul = document.getElementById("list");
    var li = document.createElement("li");
    var p = document.createElement("p");

    li.setAttribute("class", "list-group-item");
    li.setAttribute("style", li_style);
    p.setAttribute("style", p_style);
    p.appendChild(document.createTextNode(msg));
    li.appendChild(p)
    ul.appendChild(li)
  }

updatePerfMetrics = function(averageResponseTime) {
  var li = document.getElementById("averageResponseTime");
  li.innerHTML = `平均响应时间: ${averageResponseTime}ms`;
}

<!-- number of messages sent -->
var numMessage = 0;
<!-- total response time in ms -->
var totalResponseTime;
var sendMsgTime;

callback = function(data, status) {
  <!-- Add response -->
  bot_response = data["response"]
  addMsg("机器人", bot_response);

  <!-- update performance metrics -->
  var date = new Date();
  var elapsedTime = date.getTime() - sendMsgTime;
  if (numMessage == 0) {
    totalResponseTime = elapsedTime
  } else {
    totalResponseTime += elapsedTime
  }

  numMessage++;
  updatePerfMetrics(totalResponseTime / numMessage)
}

sendMsg = function() {
  var input = document.getElementById("input_msg");

  <!-- Add user input message -->
  addMsg("我", input.value)
  url = "http://10.30.6.126:3000/chats/bot_chat";
  post_data = {
    "userId": "<%= current_user.id %>",
    "text": input.value
  }
  jQuery.ajax({
    url: url,
    type: "POST",
    data: JSON.stringify(post_data),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: callback
  })

    <!-- Remember to clear the input -->
  input.value = "";
  var date = new Date();
  sendMsgTime = date.getTime();
}
</script>

<div align="center" class="container">
  <h1>机器人聊天</h1>

  <div class="row">
    <div class="col-sm-6" id="friends_list" align="left" style="max-height:800px; overflow:auto;">
      <ul class="list-group" id="list">
      </ul>
      <form class="form-inline" action="javascript:sendMsg()">
        <input type="text" class="form-control" id="input_msg" style="display:inline;">
        <input type="submit" value="发送" class="btn btn-primary">
      </form>
    </div>

    <div id="performance_window" class="col-sm-5" align="left">
      <ul class="list-group" id="perf">
        <li class="list-group-item" id="userSatisfaction">用户满意度: 100</li>
        <li class="list-group-item" id="numberOnlineUsers">服务用户数: 1</li>
        <li class="list-group-item" id="averageChatTime">平均会话时长: 30min</li>
        <li class="list-group-item" id="averageResponseTime">平均响应时间: 1ns</li>
      </ul>
    </div>
  </div>
</div>
