<h1>进行中的申请</h1>
<ol>
  <% @my_requests.each do |request| %>
    <li>
      <%= request.id %>
      <% friend = User.find_by(id: request.friend_id) %>
      <%= friend.name %>
    </li>
  <% end %>
</ol>
