<%= form_tag("/sessions/login") do %>
  <input value="输入邮箱" type="email" name="session[email]" id="session_email">
  <br>
  <input value="输入密码" type="password" name="session[password]" id="session_password" />
  <br>
  <input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me" />记住我</label>
<br>
<button name="button" type="submit">
  <br>
<% end -%>
